// Colors
$colorPrimaryLight: #43484d;
$colorPrimary: #2d3338;
$colorPrimaryDark: #22262a;
$colorWhite: #fff;
$colorBlackLight: #363636;
$colorBlack: #000;
$colorGreyLight: #eff1f2;
$colorGrey: #ededed;
$colorGreyDark: #959595;
$colorRedLight: #df2727;
$colorRedDark: #9e2828;
$colorYellow: #FFFF00;

// Font
$defaultFontSize: 1.6rem;